/.serverless
/.vscode
!/.gitignore
/build
/node_modules
# Ignore any zip files
*.zip

Info_Output.log
dist
.build
.idea
yarn-error.log


auditLogMover/.serverless
auditLogMover/node_modules

coverage
##############################
## local Development
##############################
serverless-output.yml
serverless-output.yaml
serverless_config.json

.yalc
yalc.lock

/implementationGuides
/compiledImplementationGuides/*
!/compiledImplementationGuides/gitkeep
/.webpack/
