# Ignore any zip files
**/node_modules/
.build
*.zip

Info_Output.yml
dist
lib
.build
.idea
yarn-error.log


auditLogMover/.serverless
auditLogMover/node_modules

coverage
##############################
## local Development
##############################
serverless-output.yml
serverless-output.yaml
serverless_config.json


