# Don't include original .ts files when doing `npm pack`
*.ts
!*.template.ts
!*.d.ts
coverage
.nyc_output
*.tgz
scripts
resources
postman
docker

src
.github
*.tsbuildinfo
tsconfig.json
.eslintrc.js
.eslintignore
.prettierrc.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md