# Don't include original .ts files when doing `npm pack`
*.ts
!*.template.ts
!*.d.ts
coverage
.nyc_output
*.tgz

*.tsbuildinfo
tsconfig.json
.eslintrc.js
.eslintignore
.prettierrc.js
.github
.dockerignore
serverless.yaml
serverless_config.template.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md
CODEOWNERS
CUSTOMIZE.md
DEVELOPMENT.md
INSTALL.md
LICENSE
NOTICE
README.md
THIRD-PARTY

auditLogMover/
bulkExport/
cloudformation/
compiledImplementationGuides/
implementationGuides/
docker/
integration-tests/
postman/
resources/
scripts/
src/
